h1{
	text-align: center;
}
.navbar-dark .navbar-nav .nav-link{
	color: white;
	text-align: center;
}
.navbar-expand-lg .navbar-nav li{
	margin-left: 25px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu a:hover{
	background-color: #213C95;
	color:white;
}
